.progress-container .progress-badge-description {
    color: #881663;
    font-size: 0.6em;
    display: block;
    font-weight: bold;
}

.recommendation-category {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.recommendation-title a {
    font-size: 14px;
    font-weight: bold;
}
