{% assign cv = site.data.cv %}
<div class="cv-left-sidebar">
    <div class="cv-experiences d-flex flex-column">
        <h5>Work Experiences</h5>
        {% for experience in cv.experiences %}
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <h6>■&nbsp;{{ experience.title }}</h6>
                    <span class="font-italic">{{ experience.years }}</span>
                </div>
                <div>
                    <h6>{{ experience.company }}</h6>
                    <span class="font-italic">{{ experience.location }}</span>
                </div>
            </div>
            {% if experience.description %}
            <div class="p-1">
                <p>{{ experience.description }}</p>
            </div>
            {% endif %}
            {% if experience.responsibilities %}
            <h6 class="mt-2">Achievements</h6>
            <ul>
                {% for responsibility in experience.responsibilities %}
                <li>
                    {{ responsibility }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if experience.tech_stacks %}
            <p><span><b>Primary technologies used:</b></span>&nbsp; {{ experience.tech_stacks }}</p>
            {% endif %}
            {% if experience.primary_topics %}
            <p><span><b>Primary topics:</b></span>&nbsp; {{ experience.primary_topics }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
