{% assign cv = site.data.cv %}
<div class="cv-left-sidebar">
    <div class="cv-experiences d-flex flex-column">
        <h5>Work Experiences</h5>
        {% for experience in cv.experiences %}
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <h6>{{ experience.title }}</h6>
                    <span class="font-italic">{{ experience.years }}</span>
                </div>
                <div>
                    <h6>{{ experience.company }}</h6>
                    <span class="font-italic">{{ experience.location }}</span>
                </div>
            </div>
            {% if experience.description %}
            <div class="p-1">
                <p>{{ experience.description }}</p>
            </div>
            {% endif %}
            {% if experience.responsibilities %}
            <h6 class="mt-2">Achievements</h6>
            <ul>
                {% for responsibility in experience.responsibilities %}
                <li>
                    {{ responsibility }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="cv-experiences d-flex flex-column mt-2">
        <h5>Educations</h5>
        {% for education in cv.educations %}
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <h6>{{ education.title }}</h6>
                    <span class="font-italic">{{ education.years }}</span>
                </div>
                <div>
                    <h6>{{ education.school }}</h6>
                    <span class="font-italic">{{ education.grade }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="cv-projects d-flex flex-column mt-2">
        <h5>Personal Projects</h5>
        {% for project in cv.projects %}
        <div>
            <h6>{{ project.title }}</h6>
            <ul>
                {% for link in project.links %}
                    <li> <a href="{{link.href}}">{{link.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
