{% assign cv = site.data.cv %}
<div class="cv-left-sidebar">
    <div class="cv-experiences d-flex flex-column">
        <h5>Work Experiences</h5>
        {% for experience in cv.experiences %}
        <div>
            <div class="d-flex justify-content-between pt-2">
                <div>
                    <h6>{{ experience.title }}</h6>
                    <span>{{ experience.years }}</span>
                </div>
                <div>
                    <h6>{{ experience.company }}</h6>
                    <span>{{ experience.location }}</span>
                </div>
            </div>
            <h6 class="mt-2">Responsibilities</h6>
            <ul>
                {% for responsibility in experience.responsibilities %}
                <li>
                    {{ responsibility }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="cv-experiences d-flex flex-column mt-2">
        <h5>Educations</h5>
        {% for education in cv.educations %}
        <div>
            <div class="d-flex justify-content-between pt-2">
                <div>
                    <h6>{{ education.title }}</h6>
                    <span>{{ education.years }}</span>
                </div>
                <div>
                    <h6>{{ education.school }}</h6>
                    <span>{{ education.grade }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>