{% assign cv = site.data.cv %}
<div class="cv-right-sidebar">
    <div class="cv-skills d-flex flex-column">
        <h5>Professional Skills</h5>
        {% for skill in cv.skills %}
        <div>
            <div class="pt-2">
                <h6>{{ skill.title }}</h6>
            </div>
            {% for category in skill.categories %}
            <span class="cv-skill">
                <span class="cv-skill-o">{{ category.name }}</span>
            </span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="cv-achievements mt-3">
        <h5>Achievements</h5>
        <ul>
            {% for achievement in cv.achievements %}
            <li>{{ achievement.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="cv-languages mt-3">
        <h5>Languages</h5>
        <ul>
            {% for language in cv.languages %}
                <li>{{ language.name }} <br> {{ language.level }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="cv-interests mt-3">
        <h5>Interests</h5>
        <ul>
            {% for interest in cv.interests %}
            <li>{{ interest }}</li>
            {% endfor %}
        </ul>
    </div>
</div>