{% assign cv = site.data.cv %}
<div class="cv-right-sidebar">
<!--    <div class="cv-skills d-flex flex-column">-->
<!--        <h5>Professional Skills</h5>-->
<!--        {% for skill in cv.skills %}-->
<!--        <div class="mb-2">-->
<!--            <div>-->
<!--                <h6 class="m-0">{{ skill.title }}</h6>-->
<!--            </div>-->
<!--            {% for category in skill.categories %}-->
<!--            <span class="cv-skill">-->
<!--                <span class="cv-skill-o">{{ category.name }}</span>-->
<!--            </span>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
    <div class="cv-projects d-flex flex-column mt-2">
        <h5>Personal Projects</h5>
        {% for project in cv.projects %}
        <div>
            <h6>{{ project.title }}</h6>
            <ul>
                {% for link in project.links %}
                <li> <a href="{{link.href}}">{{link.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="cv-achievements mt-2">
        <h5>Achievements</h5>
        <ul>
            {% for achievement in cv.achievements %}
            <li>{{ achievement.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="cv-experiences d-flex flex-column mt-2">
        <h5>Educations</h5>
        {% for education in cv.educations %}
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <h6>{{ education.title }}</h6>
                    <span class="font-italic">{{ education.years }}</span>
                </div>
                <div>
                    <h6>{{ education.school }}</h6>
                    <span class="font-italic">{{ education.grade }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="cv-languages mt-2">
        <h5>Languages</h5>
        <ul>
            {% for language in cv.languages %}
            <li>
                <span class="cv-language-name"> {{ language.name }}</span>
                <br>
                <span class="cv-language-level">{{ language.level }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="cv-interests mt-2">
        <h5>Interests</h5>
        {% for interest in cv.interests %}
        <span class="cv-interest">
                <span class="cv-interest-o">{{ interest }}</span>
            </span>
        {% endfor %}
    </div>
</div>
