---
---

$brown: #B59F62;
$teal: #40FFDC;
$black: #111;
$primary: rgb(62, 120, 124);
$secondary: rgb(45, 188, 173);
$dark: $black;
$enable-rounded: false;

@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';
@import 'stars';

@mixin cv-rectangle-wrapper {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

@mixin cv-rectangle {
  padding: 5px;
  background-color: $primary;
  font-size: 14px;
  color: rgb(255, 255, 255);
  -webkit-print-color-adjust: exact;
}

body {
  overflow-x: hidden;
}

// general
body, input, button, select, optgroup, textarea {
  font-family: Calibri;
}

.cv {
  h5, h6 {
    font-weight: bold;
    color: $primary;
  }

  h6 {
    color: $secondary;
  }

  h5 {
    text-transform: uppercase;
    border-bottom: 2px solid $primary;
  }

}

.cv-header {

  .cv-name {
    font-size: 25px;
    font-weight: bold;
    color: $primary;
  }

  .cv-title {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: $secondary;
  }

  .cv-summary {
  }

  img {
    height: 85px;
  }

  .cv-personal-info {

    .cv-icons {
      a, a:hover {
        text-decoration: none;
        padding-right: 5px;
      }

      i {
        font-size: 24px;
        text-decoration: none;
      }
    }
  }

}

.cv-horizontal-line {
  height: 2px;
  background: $primary;
  -webkit-print-color-adjust: exact;
}

.cv-skills {

  .cv-skill {
    @include cv-rectangle-wrapper
  }

  .cv-skill-o {
    @include cv-rectangle
  }
}

.cv-languages {

  .cv-language-name {
    font-weight: bold;
  }

  .cv-language-level {
    font-style: italic;
  }
}

.cv-interests {
  .cv-interest {
    @include cv-rectangle-wrapper
  }

  .cv-interest-o {
    @include cv-rectangle
  }
}

.cv-github-status {
  @include cv-rectangle-wrapper
}
.cv-core-skills {
  .cv-core-skill {
    @include cv-rectangle-wrapper
  }

  .cv-core-skill-o {
    @include cv-rectangle
  }
}